If:
  PathMatch: .*\.cu
CompileFlags:
  Add:
    - --cuda-path=/opt/cuda
    - --cuda-gpu-arch=sm_89
    - -x
    - cuda
  Remove:
    - -W*
---
If:
  PathMatch: .*\.(cpp|hpp|cxx)
CompileFlags:
  Add:
    - -std=c++20
  Remove:
    - -W*
---
If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    - -std=c11
  Remove:
    - -W*

